/* SCSS HEX */
$bright-pink-crayola: #f45b69;
$cream: #f0f3bd;
$paynes-gray: #525b76;
$columbia-blue: #bfdbf7;
$lavender-web: #e1e5f2;

/* SCSS HSL */
$bright-pink-crayola: hsla(355, 87%, 66%, 1);
$cream: hsla(63, 69%, 85%, 1);
$paynes-gray: hsla(225, 18%, 39%, 1);
$columbia-blue: hsla(210, 78%, 86%, 1);
$lavender-web: hsla(226, 40%, 92%, 1);

/* SCSS RGB */
$bright-pink-crayola: rgba(244, 91, 105, 1);
$cream: rgba(240, 243, 189, 1);
$paynes-gray: rgba(82, 91, 118, 1);
$columbia-blue: rgba(191, 219, 247, 1);
$lavender-web: rgba(225, 229, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
	0deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-right: linear-gradient(
	90deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-bottom: linear-gradient(
	180deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-left: linear-gradient(
	270deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-top-right: linear-gradient(
	45deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-bottom-right: linear-gradient(
	135deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-top-left: linear-gradient(
	225deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-bottom-left: linear-gradient(
	315deg,
	#f45b69,
	#f0f3bd,
	#525b76,
	#bfdbf7,
	#e1e5f2
);
$gradient-radial: radial-gradient(#f45b69, #f0f3bd, #525b76, #bfdbf7, #e1e5f2);
